
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container"> 
        <div class="col-md-12">
            <label class="col-md-3">Weather outside is </label>
            <label class="col-md-3">14 C </label>
        </div>
    </div>
</body>
</html>
